<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tryone" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name="com.LoginActivity" />
        <activity
            android:name="com.Dashboard.LevelUp.ui.dashboard.DashboardSettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name="com.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.Jios.LevelUp.ui.jios.JiosAdder"
            android:label="Jio Adder" />
        <activity
            android:name="com.Events.LevelUp.ui.events.EventsAdder"
            android:label="Event Adder" />
        <activity
            android:name="com.Mktplace.LevelUp.ui.mktplace.MktplaceAdder"
            android:label="Mktplace Adder" />
        <activity
            android:name="com.Jios.LevelUp.ui.jios.JiosPage"
            android:label="Jios Page" />
        <activity
            android:name="com.Events.LevelUp.ui.events.EventPage"
            android:label="Event Page" />
        <activity
            android:name="com.Mktplace.LevelUp.ui.mktplace.MktplacePage"
            android:label="Mktplace Page" />
        <activity
            android:name="com.Mylist.LevelUp.ui.mylist.EditUserInfoActivity"
            android:label="Edit User Info" />
        <activity
            android:name="com.Mylist.LevelUp.ui.mylist.EditOccasionInfoActivity"
            android:label="Edit Occasion Info" />
    </application>

</manifest>